.header_col_text1 {
	color:#FFFFFF;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-style:normal;
	font-weight:900;
	background: #065187;
	padding:2px;
}
.header_col_text2 {
	color:#FFFFFF;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-style:normal;
	font-weight:900;
	background: #065187;
	padding:2px;
}
.header_col_text3 {
	color:#FFFFFF;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-style:normal;
	font-weight:900;
	background: #065187;
	padding:2px;
}
.header_col_text4 {
	color:#FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size:14px;
	font-style:normal;
	font-weight:900;
	background: #065187;
	padding:2px;
}
.header_col_text5 {
	color:#FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size:14px;
	font-style:normal;
	font-weight:900;
	background: #b22d32;
	padding:2px;
}
.col1 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	float:left;
	width:150px;
	height:710px;
	background:white; /* ffff66 */
	color:#065187;
	border:solid #065187;
	background-color:#FFFFFF;
}
.col2 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	float:left;
	width:160px;
	height:710px;
	background:white; /* #ff3333 */
	color:#065187;
	margin-left:10px;
	border:solid #065187;
	background-color:#FFFFFF;
}
.col3 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	float:left;
	width:195px;
	height:710px;
	background:white; /* #cc3399 */
	color:#065187;
	margin-left:10px;
	border:solid #065187;
	background-color:#FFFFFF;
}
.col4 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	float:left;
	width:200px;
	height:710px;
	background:white; /* #0099cc */
	color:#065187;
	margin-left:10px;
	border:solid #065187;
	background-color:#FFFFFF;
	/* text-decoration: none; */
}
.col5 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	float:left;
	width:745px;
	height:250px;
	background:white; /* #0099cc */
	color:#065187;
	margin-left:10px;
	border:solid #b22d32;
	background-color:#FFFFFF;
	/* text-decoration: none; */
}

img.logo_name1 {
	border:none;
}
a.logo_name1:link{
	color: #065187;
	text-decoration: none;
	border: none;
}
a.logo_name1:visited{
	color: #065187;
	text-decoration: none;
	border: none;
}
img.logo_name2 {
	border:none;
}
a.logo_name2:link{
	color: #065187;
	text-decoration: none;
	border: none;
}
a.logo_name2:visited{
	color: #065187;
	text-decoration: none;
	border: none;
}

img.team {
	border:none;
}
a.team:link{
	color: #065187;
	text-decoration: none;
	border: none;
}
a.team:visited{
	color: #065187;
	text-decoration: none;
	border: none;
}

img.track {
	border:none;
}
a.track:link{
	color: #065187;
	text-decoration: none;
	border: none;
}
a.track:visited{
	color: #065187;
	text-decoration: none;
	border: none;
}
img.military {
	border:none;
}
a.military:link{
	color: #065187;
	text-decoration: none;
	border: none;
}
a.military:visited{
	color: #065187;
	text-decoration: none;
	border: none;
}

#mydiv {
	/* display:none;  */
}
.divheader {
	background-color:#FFFFFF;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-style:italic;
	text-align:center;
	color:#000000;
	padding:5px;
}
.divheader_top {
	background-color:#FFFFFF;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:bold;
	text-align:center;
	font-style:normal;
	color:#000000;
	padding:5px;
}
.divheader_nav_print {
	position:absolute;
	top:15px;
	left:640px;
	background-color:#FFFFFF;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	font-weight:bold;
	text-align:center;
	font-style:normal;
	color: #999999;
	z-index: 101;
	vertical-align:top;
	text-decoration:none;
}
a.divheader_nav_print:link {
	color: #999999;
	text-decoration: none;
	border: none;
}
a.divheader_nav_print:visited {
	color: #999999;
	text-decoration: none;
	border: none;
}
img.divheader_nav_print {
	border:none;
}
img.divheader_nav_close {
	border:none;
}
.divheader_nav_close {
	position:absolute;
	top:15px;
	left:720px;
	background-color:#FFFFFF;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	text-align:center;
	font-style:normal;
	color:#000000;
	z-index: 102;
	vertical-align:top;
}
.taxdescription {
	font-family: Arial, Helvetica, sans-serif;
	font-style: italic;
	font-size:9px;
}
