/*
    Document   : promo
    Created on : Mar 2, 2009, 4:02:32 PM
    Author     : dustin
    Description:
        Purpose of the stylesheet follows.
*/

/*
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/
.promo {
    background-color:#cccccc;
    line-height: 24px;
    letter-spacing: 3px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-top-color: #000000;
    border-bottom-color: #000000;
    border-left-color: #000000;
    border-right-color: #000000;
    font-family: Geneva,Arial,Helvetica,sans-serif;
    font-size: 24px;
    color: #666666;
    font-weight: bold;
    font-style: normal;
    margin:2px auto;
}

root {
    display: block;
}

#link_check a {
 display:block;
 height:24px;
 width:50px;
 text-decoration:none;
 text-indent: -999999px;
 overflow: hidden;
}
#link_check a:hover {
 display:block;
 height:24px;
 width:50px;
 text-decoration:none;
}
.center {
     float: none;
     margin-left: auto;
     margin-right: auto;
}
.padme {
	padding:5px;
}
