
.yh_tt_div {
 background-color:  #ffffff; 
 padding: 10px; 
 border: 1px solid #CCCCCC; 
 z-index: 101;
}

.yh_tooltip {
 font-size: 11px; 
 font-face: arial,helvetica,sans-serif;
 position:relative;
 z-index: 101;
}

.tt_header {
 position: relative;
 width: 150px;
 height: 19px;
 background-image: url(tip_header.gif);
 margin-bottom: 3px;
 z-index: 101;
}

.tooltip {
 display: none;
  z-index: 101;
}