body { margin:20px; color:#444; font-family: Arial; font-size:12px; }
.info { clear:both; padding-top:30px; line-height:1.6; }
h2 { color:#426; margin-bottom:10px; padding-bottom:10px; font-size:16px; border-bottom:dashed 1px #aaa; }
h3 { background-color:#fff; color:#669; padding:10px; margin:10px 0 15px 0; font-size:11px; -moz-border-radius:3px; -webkit-border-radius:3px; border:solid 1px #ddd; font-weight:normal; }
input { outline:none; }
.form { float:left; width:300px; background-color:#f0f0f0; -moz-border-radius:5px; -webkit-border-radius:5px; padding:20px; margin:0 10px 0 0; }
.form .form-row { width:100%; margin-bottom: 10px; float:left; }
.form .label { float:left; width:100px;margin:6px 0 0 5px; }
.form .input-container { float:left; width:195px; text-align:right; }
	.form .input { width:180px;	height:18px; border:2px solid #c4c4c4; }
	.form .textarea { width:180px; height:120px; border:2px solid #c4c4c4; font-family:Tahoma; font-size:11px; }
	.form .error-input, .form .error-both .input, .form .error-same .input { background-color:#FFEFEF; border-color:#BB6666; color:#660000; }
	.form .error-div { float:right; margin:7px 10px 0 0; color:#935; font-size:10px; }
	.form .error-div-alternative { display:none; -moz-border-radius:10px; -webkit-border-radius:10px; width:800px; top:0; left:50%; position:absolute; z-index:1000; margin-left:-400px; text-align:center; font-size:16px; color:#934; padding:20px 0 20px 0; background-color:#fee; border:solid 2px #d36; border-top-width:0; }
	.form .error-same, .form .error-both { color:#fff; background-color:#b66; -moz-border-radius:3px; }
	.form .sendBtn {
		width:75px;
		height:24px;
		text-align:center;
		background:url(submit-btn-bg.gif) repeat-x 0 0;
		color:#5f5f5f;
		border:1px solid #aaa;
		float:right;
		display:block;
		cursor:pointer;
		font-weight:bold;
		-moz-border-radius:3px;
		-webkit-border-radius:3px;
	}
	.form .sendBtn:hover { background:url(submit-btn-bg-hover.gif) repeat-x 0 0; color:#ffffff; border:1px solid #5f5f5f; }